<h1>Editing book</h1>

<%= render "form", book: @book %>

<br>

<div>
  <%= link_to "Show this book", autor_book_path(@autor.id, @book.id) %> |
  <%= link_to "Back to books", autor_books_path(@autor.id) %>
</div>
